* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 15% auto 50%;;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  background: #3E2A35;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 8px 40px;
}

.homepage-title {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.homepage-title img {
  margin: 0;
  padding: 0 8px;
}

.search-bar-and-icon {
  font-size: 1.5em;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.search-bar-icon {
  position: absolute;
  padding: 8px;
  background-color: #b2aaab;
  border-radius: 5px/5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-bar-input {
  border-radius: 5px/5px;
  min-height: 40px;
  min-width: 400px;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.image-card-creator {
  display: grid;
  grid-auto-columns: 60% auto;
  width: 100%;
  justify-content: center;
  background: #3E2A35;
}

.title-label,
.caption-label {
  margin: 0;
  padding: 0;
  height: 4px;
  font-size: 1.5em;
  color: #c7c4be;
}

.title-input,
.caption-input {
  margin: 35px 0;
  height: 65px;
}

.choose-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-file-input + label {
  color: #fff;
  background-color: #5b4447;
  display: inline-block;
  margin: 35px 0;
  height: 65px;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.show-moreless-btn {
  margin-bottom: 10px;
}

.show-more-btn,
.show-less-btn {
  color: #fff;
  background-color: #5b4447;
  margin: 35px 0;
  height: 65px;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  border: 0 solid;
}

.hide-me {
  display: none;
}

.view-favorites-btn,
.add-to-album-btn {
  height: 65px;
  width: 90%;
  margin: 35px 0;
  background-color: #5b4447;
  color: #fff;
  border: 0 solid;
}

span {
  margin: 3px;
}

.add-to-album-btn {
  margin-left: 40px;
}

.add-to-album-btn:disabled {
  background-color: #938284;
}

#add-photo {
  text-align: center;
  font-size: 50px;
  color: #938284;
  width: 100%;
}

.image-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #c2b2b4;
  padding: 0 70px;
  height: 1000px;

}

.image-card {
  border: 1px solid #938284;
  display: grid;
  grid-template-rows: 15% auto 25% 15%;
  height: 480px;
  margin: 40px 20px;
  color: #3e2a35;
  background-color: #fff;
}

.card-title {
  resize: none;
  border: 0px solid;
  font-size: 1.5em;
  margin: 10px;
}

.image-card img {
  width: 100%;
  margin: 0 1px;
}

.card-caption {
  resize: none;
  border: 0 solid;
  margin: 10px;
  font-size: 1.5em;
  line-height: 35px;
}

.image-card-buttons {
  background-color: #5b4447;
  display: flex; 
  justify-content: space-between;
}

.delete-btn-icon {
  content: url(images/delete.svg);
  margin: 0 20px;
}

.delete-btn-icon:hover {
 content: url(images/delete-active.svg);
}

.favorite-btn {
  content: url(images/favorite.svg);
  margin: 0 20px;
}

.favorite-btn-active {
  content: url(images/favorite-active.svg);
  margin: 0 20px;
}

.favorite-and-trash-btn {
  display: grid;
  width: 100%;
  grid-template-columns: 50% auto;
}

@media screen and (max-width: 1300px) {
  nav {
    display: grid;
    justify-content: center;
  }

  .homepage-title {
    font-size: 3.5em;
  }

  .image-card-creator {
    grid-auto-columns: 80% auto;
  }
}

@media screen and (max-width: 770px) {
  nav {
    display: block;
    margin: 0 186px;
  }

  .homepage-title img {
    padding: 0 14px;
  }

  .image-card-container {
    padding: 10px;
  }
}

@media screen and (max-width: 420px) {
  nav {
    display: block;
  }

  .search-bar-input {
    font-size: 1.5em;
    width: 90%;
  }

  .search-bar-icon {
    padding: 11px;
  }

  .image-card-container {
    padding: 0 30px;
  }

  .image-card {
    width: 50%
  }
}