* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  font-family: 'Open Sans', sans-serif;
  background: #3E2A35;
  color: #fff;
  margin: 8px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.homepage-title {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.homepage-title img {
  margin: 0;
  padding: 0px 8px;
}

.search-bar-and-icon {
  font-size: x-large;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.search-bar-icon {
  position: absolute;
  padding: 21px;
  background-color: #938284;
  border-radius: 10px/2px;
}

.search-bar-input {
  border-radius: 5px/5px;
  min-height: 40px;
  min-width: 400px;
}




.hide-me {
  display:none;
}



